* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url('../football-stadium.png') no-repeat center center fixed;
    background-size: cover;
}

#root {
    width: 60%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 2rem;
}

.scoreBoard {
    background: white;
    text-align: center;
    margin-top: 1rem;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.score__div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.team__name {
    /* margin-bottom: 5rem; */
}

.team__score {
    font-size: 8rem;
}


.game__container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding-top: 2rem;
    min-width: 600px;
}

.banner {
    font-size: 3rem;
    margin-bottom: 20px;
    padding: 0 2rem;
}

.teams__container {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.team {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background: white;
    padding: 2rem;
    border-radius: 10%;
}

.logo {
    width: 200px;
    height: auto;
}

.num__resets {
    margin-top: 1rem;
}

.hide {
    display: none;
}

button {
    padding: 10px;
}

.shoot__button {
    margin-top: 1.5rem;
}

.venue__button {
    margin: 2rem 0;
}
